<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    <meta name="robots" content="noindex, nofollow">
    <meta name="googlebot" content="noindex, nofollow">

    <link rel="shortcut icon" href="~/Content/images/favicon.ico" />
    <link href='https://fonts.googleapis.com/css?family=Montserrat%7CRoboto:300,300i,400,700' rel='stylesheet' type='text/css'>

    @Styles.Render("~/Content/css/styles")

</head>
<body class="@ViewBag.css">

<!-- Preloader Gif -->
<div class="doc-loader"></div>

<!-- Left Part Sidebar -->
<div class="menu-left-part">
    <nav id="header-main-menu">
        <ul class="main-menu sm sm-clean">
            <li><a href="/">Home</a></li>
            <li><a href="@Url.Action("About","home")">About</a></li>
            <li><a href="@Url.Action("Team","home")">Team</a></li>      
            <li><a href="@Url.Action("Blog","home")">Blog</a></li>
            <li><a href="@Url.Action("Portfolio","home")">Portfolio</a></li>                    
            <li><a href="@Url.Action("Contact","home")">Contact</a></li>
        </ul>
    </nav>     
    <footer>
        <div class="footer-info">    
            <p class="footer-social">
                <a href="#"><span class="fa fa-facebook"></span></a>
                <a href="#"><span class="fa fa-twitter"></span></a>
                <a href="#"><span class="fa fa-behance"></span></a>                        
            </p>
            <p class="footer-text">&copy; @DateTime.Now.Year - My ASP.NET Application <a href="https://greece-photos.gr">Greece-Photos</a></p>
        </div>
    </footer>
</div>

<!-- Right Part Sidebar -->
<div class="menu-right-part">      
    <div class="toggle-holder">
        <div id="toggle">
            <div class="menu-line"></div>
        </div>
    </div>                        
</div>

<div id="content" class="site-content">
    <div class="content-left">
        <div class="content-left-holder">
            <div class="welcome-content">
                <img class="welcome-image" src="~/Content/images/background.png" alt="" />
                <h1 class="site-logo">
                    <a href="/">
                        <img src="~/Content/images/logo@2x.png" alt="Ocularus">
                    </a>
                </h1>
                <div class="site-description">
                    Hello,<br>
                    my name is Zelos Sotiris and <br>
                    I am photographer and senior
                    graphic designer from Athens.
                    <br>
                    <br>
                    @*<a href="https://goo.gl/Iuqj8E" target="_blank">
                            40.758896° N <br>
                            -73.985130° W
                        </a>*@
                    <br>
                    <br>
                    <p>+030 68 96 616</p>
                    <p>
                        <a href="mailto:info@greece-photos.gr">info@greece-photos.gr</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="content-right">
        @RenderBody()
    </div>

    <div class="clear"></div>
</div>



@Scripts.Render( "~/bundles/main" )
@RenderSection( "scripts", required: false )
</body>
</html>
