
@{
    ViewData["Title"] = "Blog";
}
<div class="content-right-holder">
    <div class="blog-holder">
        <article class="blog-item-holder">
            <div class="featured-image">
                <img src="~/images/blog_img_01.jpg" alt="" />
            </div>
            <div class="item-text">
                <div class="item-info">
                    <div class="item-info-left">
                        <ul>
                            <li class="item-info-title">Date</li>
                            <li class="item-info-text">Apr 27, 2017</li>
                        </ul>
                        <ul>
                            <li class="item-info-title">In</li>
                            <li class="item-info-text">Branding</li>
                        </ul>
                    </div>
                    <div class="item-info-right">
                        <ul>
                            <li class="item-info-title">Author</li>
                            <li class="item-info-text">Peter Wall</li>
                        </ul>
                        <ul>
                            <li class="item-info-title">Response</li>
                            <li class="item-info-text">6 Comments</li>
                        </ul>
                    </div>
                </div>
                <h2 class="entry-title">
                    <a href="@Url.Action("BlogPost","home")">Dissimilar compliment cultivated art preference in contemporary form</a>
                </h2>
                <div class="excerpt">
                    He an thing rapid these after going drawn or. Timed she his law the spoil round defer. In surprise concerns informed betrayed he learning is formerly so yetty...
                </div>
                <a href="@Url.Action("BlogPost","home")" class="read-more">Read More</a>
            </div>
        </article>

        <article class="blog-item-holder">
            <div class="featured-image">
                <img src="~/images/blog_img_02.jpg" alt="" />
            </div>
            <div class="item-text">
                <div class="item-info">
                    <div class="item-info-left">
                        <ul>
                            <li class="item-info-title">Date</li>
                            <li class="item-info-text">Apr 27, 2017</li>
                        </ul>
                        <ul>
                            <li class="item-info-title">In</li>
                            <li class="item-info-text">Branding</li>
                        </ul>
                    </div>
                    <div class="item-info-right">
                        <ul>
                            <li class="item-info-title">Author</li>
                            <li class="item-info-text">Peter Wall</li>
                        </ul>
                        <ul>
                            <li class="item-info-title">Response</li>
                            <li class="item-info-text">6 Comments</li>
                        </ul>
                    </div>
                </div>
                <h2 class="entry-title">
                    <a href="@Url.Action("BlogPost","home")">Admiration we surrounded possession frequently remarkably increasing</a>
                </h2>
                <div class="excerpt">
                    He an thing rapid these after going drawn or. Timed she his law the spoil round defer. In surprise concerns informed betrayed he learning is formerly so yetty...
                </div>
                <a href="@Url.Action("BlogPost","home")" class="read-more">Read More</a>
            </div>
        </article>

        <article class="blog-item-holder">
            <div class="featured-image">
                <img src="~/images/blog_img_03.jpg" alt="" />
            </div>
            <div class="item-text">
                <div class="item-info">
                    <div class="item-info-left">
                        <ul>
                            <li class="item-info-title">Date</li>
                            <li class="item-info-text">Apr 27, 2017</li>
                        </ul>
                        <ul>
                            <li class="item-info-title">In</li>
                            <li class="item-info-text">Branding</li>
                        </ul>
                    </div>
                    <div class="item-info-right">
                        <ul>
                            <li class="item-info-title">Author</li>
                            <li class="item-info-text">Peter Wall</li>
                        </ul>
                        <ul>
                            <li class="item-info-title">Response</li>
                            <li class="item-info-text">6 Comments</li>
                        </ul>
                    </div>
                </div>
                <h2 class="entry-title">
                    <a href="@Url.Action("BlogPost","home")">Sympathize did now preference unpleasing mrs few for hour game room</a>
                </h2>
                <div class="excerpt">
                    He an thing rapid these after going drawn or. Timed she his law the spoil round defer. In surprise concerns informed betrayed he learning is formerly so yetty...
                </div>
                <a href="@Url.Action("BlogPost","home")" class="read-more">Read More</a>
            </div>
        </article>

        <article class="blog-item-holder">
            <div class="featured-image">
                <img src="~/images/blog_img_04.jpg" alt="" />
            </div>
            <div class="item-text">
                <div class="item-info">
                    <div class="item-info-left">
                        <ul>
                            <li class="item-info-title">Date</li>
                            <li class="item-info-text">Apr 27, 2017</li>
                        </ul>
                        <ul>
                            <li class="item-info-title">In</li>
                            <li class="item-info-text">Branding</li>
                        </ul>
                    </div>
                    <div class="item-info-right">
                        <ul>
                            <li class="item-info-title">Author</li>
                            <li class="item-info-text">Peter Wall</li>
                        </ul>
                        <ul>
                            <li class="item-info-title">Response</li>
                            <li class="item-info-text">6 Comments</li>
                        </ul>
                    </div>
                </div>
                <h2 class="entry-title">
                    <a href="@Url.Action("BlogPost","home")">She did open find pain some out if we landlord stanhill whatever</a>
                </h2>
                <div class="excerpt">
                    He an thing rapid these after going drawn or. Timed she his law the spoil round defer. In surprise concerns informed betrayed he learning is formerly so yetty...
                </div>
                <a href="@Url.Action("BlogPost","home")" class="read-more">Read More</a>
            </div>
        </article>
    </div>
</div>

