@model List<GrPhotosCore.Domain.Exif>
@{
    ViewData["Title"] = "Home Page";
}

<style>
    .carousel-slider img {
        max-width: none;
        max-height: 800px;
    }

    .carousel-cell .portfolio-text-holder {
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 1;
        font-size: 20px;
        background-color: black;
        padding: 20px;
        transform: translateY(100%);
        transition: transform .3s ease;
    }

    .carousel-cell .portfolio-text-holder .portfolio-text,
    .carousel-cell .portfolio-text-holder .portfolio-cat{
        color:white;
    }

    .carousel-cell .portfolio-text-holder .portfolio-cat:before {
        content: "";
        display: inline-block;
        width: 25px;
        height: 1px;
        background-color: white;
        vertical-align: 4px;
        margin-right: 5px;
    }

    .carousel-cell.is-selected .portfolio-text-holder {
        transform: translateY(0);
    }
    

</style>
<div class="slider-wrapper">
    <div class="carousel-slider">
        <div class="carousel">
            
            @foreach (var exif in Model) {
                <div class="carousel-cell">
                    <img src="~/images/bw/img_@(exif.Id).jpg" alt=""/>
                    
                   @* <h3 class="entry-title"><a href="@Url.Action("PortfolioDetails","home", new{id=exif.Id})">@exif.Title</a></h3>
                    <p class="cat-links">@exif.Location</p>*@

                    <a href="@Url.Action("PortfolioDetails","home", new{id=exif.Id})"><div class="portfolio-text-holder">
                        <p class="portfolio-text">@exif.Title</p>
                        <p class="portfolio-cat">@exif.Location</p>
                    </div></a>

                </div>
            }

        </div>
    </div>
</div>
