@model GrPhotosCore.Domain.Exif
@{
    ViewData["Title"] = "PortfolioDetails";
    var img = $"/images/bw/img_{Model.Id}.jpg";

    var prev = Model.Id > 1 ? Model.Id - 1 : 1;
    var next = Model.Id < 15 ? Model.Id + 1 : 15;
}

<style>
    .single-portfolio .item-info-text {
        font-size: .8rem;
        padding-bottom: 4px;
    }
</style>
<div class="content-right-holder">
    <div class="header-page-content">
        <img id="my_image" src="@img" alt="" data-action="zoom" />
    </div>
    <div class="post-info">
        <div class="single-nav">
            <div class="nav-previous">
                <a id="prev" href="@Url.Action("PortfolioDetails", "home", new{id=prev})">
                    <img src="~/images/arrow_left@2x.png" alt="Previous">
                </a>
            </div>
            <div class="nav-next">
                <a id="next" href="@Url.Action("PortfolioDetails", "home", new{id=next})">
                    <img src="~/images/arrow_right@2x.png" alt="Next">
                </a>
            </div>
            <div class="clear"></div>
        </div>

        <div class="item-info">
            <ul>
                <li class="item-info-title">@Html.NameFor(m => m.CameraModelName)</li>
                <li class="item-info-text">@Model.CameraModelName</li>
            </ul>
            <ul>
                <li class="item-info-title">@Html.NameFor(m => m.ExposureTime)</li>
                <li class="item-info-text">@Model.ExposureTime</li>
            </ul>
            <ul>
                <li class="item-info-title">@Html.NameFor(m => m.CreateDate)</li>
                <li class="item-info-text">@Model.CreateDate.ToString("dd/MM/yyyy")</li>
            </ul>
            <ul>
                <li class="item-info-title">@Html.NameFor(m => m.ISO)</li>
                <li class="item-info-text">ISO: @Model.ISO</li>
            </ul>
            <ul>
                <li class="item-info-title">@Html.NameFor(m => m.Aperture)</li>
                <li class="item-info-text">F-@Model.Aperture</li>
            </ul>
            <ul>
                <li class="item-info-title">@Html.NameFor(m => m.FocalLength)</li>
                <li class="item-info-text">@Model.FocalLength</li>
            </ul>
            
            @if (!string.IsNullOrWhiteSpace(Model.FilmMode))
            {
                <ul>
                    <li class="item-info-title">@Html.NameFor(m => m.FilmMode)</li>
                    <li class="item-info-text">@Model.FilmMode</li>
                </ul>
            }
            
            @if(!string.IsNullOrWhiteSpace(Model.LensMake)) {
                <ul>
                    <li class="item-info-title">@Html.NameFor(m => m.LensMake)</li>
                    <li class="item-info-text">@Model.LensMake</li>
                </ul>
            }

            @if (!string.IsNullOrWhiteSpace(Model.LensModel))
            {
                <ul>
                    <li class="item-info-title">@Html.NameFor(m => m.LensModel)</li>
                    <li class="item-info-text">@Model.LensModel</li>
                </ul>
            }
           
        </div>
    </div>

    <div class="entry-holder">
        <h1 class="entry-title">
            @Model.Title
        </h1>
        <div class="entry-content">
            @Model.Description
        </div>
    </div>

    <div class="single-nav mob">
        <div class="nav-previous">
            <a href="@Url.Action("PortfolioDetails", "home", new{id=prev})">
                <img src="~/images/arrow_left@2x.png" alt="Previous">
            </a>
        </div>
        <div class="nav-next">
            <a href="@Url.Action("PortfolioDetails", "home", new{id=next})">
                <img src="~/images/arrow_right@2x.png" alt="Next">
            </a>
        </div>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
</div>

@section scripts {
    <script>
        $(function(){
            var zs = this.ZoomService;
            var mimg = $("#my_image").on("click", function (ev) {
                zs._zoom(ev);
                this.$(body)
                    .removeClass('zoom-overlay-open')
                    .addClass('zoom-overlay-transitioning');

                console.log(ev);
            });
            $("#my_image").trigger("click");
        });
    </script>
}