
@{
    ViewBag.Title = "Portfolio";
}

<div class="portfolio-wrapper">
    <div class="category-filter">
        <div class="category-filter-icon"></div>
    </div>
    <div class="category-filter-list button-group filters-button-group">
        <div class="button is-checked" data-filter="*">All</div>
        <div class="button" data-filter=".interior">Interior</div>
        <div class="button" data-filter=".abstract">Abstract</div>
        <div class="button" data-filter=".industry">Industry</div>
    </div>
    <div class="grid" id="portfolio">
        <div class="grid-sizer"></div>
        <div class="grid-item element-item p_one_third interior">
            <a href="@Url.Action("PortfolioDetails","home")#p01">
                <img src="~/Content/images/bw/img_01.jpg" alt="" />

                <div class="portfolio-text-holder">
                    <p class="portfolio-text">Smartphone</p>
                    <p class="portfolio-cat">Interior</p>
                </div>
            </a>
        </div>

        <div class="grid-item element-item p_one_third abstract industry">
            <a href="@Url.Action("PortfolioDetails","home")#p02">
                <img src="~/Content/images/bw/img_02.jpg" alt="" />
                <div class="portfolio-text-holder">
                    <p class="portfolio-text">Smartphone</p>
                    <p class="portfolio-cat">Interior</p>
                </div>
            </a>
        </div>

        <div class="grid-item element-item p_one_third industry">
            <a href="@Url.Action("PortfolioDetails","home")#p03">
                <img src="~/Content/images/bw/img_03.jpg" alt="" />
                <div class="portfolio-text-holder">
                    <p class="portfolio-text">Smartphone</p>
                    <p class="portfolio-cat">Interior</p>
                </div>
            </a>
        </div>

        <div class="grid-item element-item p_two_third abstract interior">
            <a href="@Url.Action("PortfolioDetails","home")#p04">
                <img src="~/Content/images/bw/img_04.jpg" alt="" />
                <div class="portfolio-text-holder">
                    <p class="portfolio-text">Smartphone</p>
                    <p class="portfolio-cat">Interior</p>
                </div>
            </a>
        </div>


        <div class="grid-item element-item p_one_third industry">
            <a href="@Url.Action("PortfolioDetails","home")#p05">
                <img src="~/Content/images/bw/img_05.jpg" alt="" />
                <div class="portfolio-text-holder">
                    <p class="portfolio-text">Smartphone</p>
                    <p class="portfolio-cat">Interior</p>
                </div>
            </a>
        </div>


        <div class="grid-item element-item p_one_third abstract interior">
            <a href="@Url.Action("PortfolioDetails","home")#p06">
                <img src="~/Content/images/bw/img_06.jpg" alt="" />
                <div class="portfolio-text-holder">
                    <p class="portfolio-text">Smartphone</p>
                    <p class="portfolio-cat">Interior</p>
                </div>
            </a>
        </div>

        <div class="grid-item element-item p_one_third industry">
            <a href="@Url.Action("PortfolioDetails","home")#p07">
                <img src="~/Content/images/bw/img_07.jpg" alt="" />
                <div class="portfolio-text-holder">
                    <p class="portfolio-text">Smartphone</p>
                    <p class="portfolio-cat">Interior</p>
                </div>
            </a>
        </div>

        <div class="grid-item element-item p_one_third interior abstract">
            <a href="@Url.Action("PortfolioDetails","home")#p08">
                <img src="~/Content/images/bw/img_08.jpg" alt="" />
                <div class="portfolio-text-holder">
                    <p class="portfolio-text">Smartphone</p>
                    <p class="portfolio-cat">Interior</p>
                </div>
            </a>
        </div>

        <div class="grid-item element-item p_one_third interior industry">
            <a href="@Url.Action("PortfolioDetails","home")#p09">
                <img src="~/Content/images/bw/img_09.jpg" alt="" />
                <div class="portfolio-text-holder">
                    <p class="portfolio-text">Smartphone</p>
                    <p class="portfolio-cat">Interior</p>
                </div>
            </a>
        </div>
        <div class="grid-item element-item p_one_third interior industry">
            <a href="@Url.Action("PortfolioDetails","home")#p10">
                <img src="~/Content/images/bw/img_10.jpg" alt="" />
                <div class="portfolio-text-holder">
                    <p class="portfolio-text">Smartphone</p>
                    <p class="portfolio-cat">Interior</p>
                </div>
            </a>
        </div>
        <div class="grid-item element-item p_one_third interior industry">
            <a href="@Url.Action("PortfolioDetails","home")#p11">
                <img src="~/Content/images/bw/img_11.jpg" alt="" />
                <div class="portfolio-text-holder">
                    <p class="portfolio-text">Smartphone</p>
                    <p class="portfolio-cat">Interior</p>
                </div>
            </a>
        </div>
        <div class="grid-item element-item p_one_third interior industry">
            <a href="@Url.Action("PortfolioDetails","home")#p12">
                <img src="~/Content/images/bw/img_12.jpg" alt="" />
                <div class="portfolio-text-holder">
                    <p class="portfolio-text">Smartphone</p>
                    <p class="portfolio-cat">Interior</p>
                </div>
            </a>
        </div>
        <div class="grid-item element-item p_one_third interior industry">
            <a href="@Url.Action("PortfolioDetails","home")#p13">
                <img src="~/Content/images/bw/img_13.jpg" alt="" />
                <div class="portfolio-text-holder">
                    <p class="portfolio-text">Smartphone</p>
                    <p class="portfolio-cat">Interior</p>
                </div>
            </a>
        </div>
        <div class="grid-item element-item p_one_third interior industry">
            <a href="@Url.Action("PortfolioDetails","home")#p14">
                <img src="~/Content/images/bw/img_14.jpg" alt="" />
                <div class="portfolio-text-holder">
                    <p class="portfolio-text">Smartphone</p>
                    <p class="portfolio-cat">Interior</p>
                </div>
            </a>
        </div>
        <div class="grid-item element-item p_one_third interior industry">
            <a href="@Url.Action("PortfolioDetails","home")#p15">
                <img src="~/Content/images/bw/img_15.jpg" alt="" />
                <div class="portfolio-text-holder">
                    <p class="portfolio-text">Smartphone</p>
                    <p class="portfolio-cat">Interior</p>
                </div>
            </a>
        </div>
    </div>
</div>
<div class="clear"></div>

